<div class="jumbotron">
    <h1>Registro de profesionista</h1>
    <form #fr="ngForm" (ngSubmit)="submit(fr)">
      <div class="container">
          <div class="row">
            <div class="col-sm">

              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" ngModel class="form-control" name="name" required>
              </div>

              <div class="form-group">
                  <label for="profesion">Profesión</label>
                  <select ngModel class="form-control" name="profesion" required>
                    <option>Enfermería</option>
                    <option>Fontanería</option>
                    <option>Carpintería</option>
                  </select>
                </div>

              <p id = "professionalp">Foto</p>

              <div class="custom-file">
                  <label class="custom-file-label" for="customFile">Fotografía</label>
                  <input ngModel type="file" class="custom-file-input" name="image" required>
                  
                </div>

            </div>
            <div class="col-sm">
              <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input ngModel type="text" class="form-control" name="apellido" required>
              </div>

              <div class="form-group">
                  <label for="email">Email address</label>
                  <input ngModel type="email" class="form-control" name="email" required>
              </div>

              <input type="submit" class="btn btn-primary" value="Registrarse" [disabled] = "!fr.valid">
             
            </div>
            <div class="col-sm">
                  <div class="form-group">
                      <label for="edad">Edad</label>
                      <input ngModel type="number" class="form-control" name="edad" required min="18" max="100" required>
                  </div>
                  <div class="form-group">
                      <label for="pass">Password</label>
                      <input ngModel type="password" class="form-control" name="password" required>
                </div>
                
            </div>
          </div>
        </div>
      
    </form>
    </div>
